<?xml version="1.0" encoding="utf-8"?>
<?include Variables.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="CodeOwlsFolder" Name="Code Owls LLC" >
          <Directory Id="StudioShellApplicationFolder" Name="StudioShell" />          
        </Directory>
      </Directory>
    </Directory>
    <ComponentGroup Id="StudioShellApplicationFolderComponentGroup">
      <Component Id="cmpCodeOwlsFolder" Directory="CodeOwlsFolder" Guid="{2cc44b0c-3719-469d-85b0-8a413e81b488}">
        <RegistryValue Id="regCodeOwlsFolder" KeyPath="yes" Action="write" Root="HKCU" Key="SOFTWARE\Code Owls LLC\StudioShell\InstallState" Name="CodeOwlsFolder" Value="1" Type="integer"/>
        <RemoveFolder Id="CodeOwlsFolder" On="uninstall" />
      </Component>
    </ComponentGroup>

    </Fragment>
</Wix>