<?xml version="1.0"?>
<configuration>

  <!-- POKEIN SETTINGS START -->
  <configSections>
    <!-- Definition of this part is mendatory -->
    <section name="PokeInTargets" type="PokeIn.CustomConfig.PokeInTargets, PokeIn" requirePermission="false"/>
  </configSections>
  
  <PokeInTargets>
    <Events>
    <!--
    Possible list of events are;
    ClientConnected
    ClientCreated 
    FirstJoint
    ClientJoined 
    -->
      <add EventType="ClientConnected" StrongName="EventsFromConfig.FirstSample, EventsFromConfig" Handler="OnClientConnectedToFirst" UniqueName="First"  />
      <add EventType="ClientCreated" StrongName="EventsFromConfig.FirstSample, EventsFromConfig" Handler="OnClientCreatedToFirst" UniqueName="First"  />
      
      <add EventType="ClientConnected" StrongName="EventsFromConfig.SecondSample, EventsFromConfig" Handler="OnClientConnectedToSecond" UniqueName="Second"  />
      <add EventType="ClientCreated" StrongName="EventsFromConfig.SecondSample, EventsFromConfig" Handler="OnClientCreatedToSecond" UniqueName="Second"  />
    </Events>
  </PokeInTargets>

  <appSettings>
    <add key="PokeIn_LogFolder" value="~/App_Data/" />
    <add key="PokeIn_ChunkedMode" value="true" />
    <add key="PokeIn_HandlerTarget" value="a.PokeIn" />
    <add key="PokeIn_UploadTarget" value="Handler.aspx" />
    <add key="PokeIn_ResourceTarget" value="r.PokeIn" />
    
    <!-- WebSocket Config -->
    <add key="PokeIn_SocketServerIP" value="127.0.0.1"/> <!-- This value only demonstrates the feature on your local computer. You should update it according to your server ip address -->
    <add key="PokeIn_SocketPort" value="3334"/> <!-- This port must be enabled on the server's firewall -->
    
  </appSettings>
  <!-- POKEIN SETTINGS END -->
  
  <connectionStrings />
  <system.web>
      <compilation debug="true">  
      </compilation>
 
      <authentication mode="Windows" />

      <httpHandlers>
        <!-- PokeIn Advanced Handler-->
        <add path="*.PokeIn" verb="*" type="PokeIn.Comet.PokeInHandlerNoSession, PokeIn" validate="true" />
      </httpHandlers>

   </system.web> 
    
    <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false"/>
      <handlers>
        <!-- PokeIn Advanced Handler-->
        <add name="PokeIn_Handler" verb="*" path="*.PokeIn" type="PokeIn.Comet.PokeInHandler, PokeIn" preCondition="integratedMode" />
      </handlers>
      <!-- PokeIn Advanced Handler ChunkedMode -->
      <urlCompression doDynamicCompression="false" />
    </system.webServer> 

</configuration>
