<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PCLFile" value="C://test"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UploadSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <customBinding>
        <binding name="UploadSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.20.34:8090/Upload.asmx" binding="basicHttpBinding"
        bindingConfiguration="UploadSoap" contract="UploadWeb.UploadSoap"
        name="UploadSoap" />
      <endpoint address="http://192.168.20.34:8090/Upload.asmx" binding="customBinding"
        bindingConfiguration="UploadSoap12" contract="UploadWeb.UploadSoap"
        name="UploadSoap12" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
