<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PokeIn_LogFolder" value="~/App_Data/" />
    <add key="PokeIn_HandlerTarget" value="host.PokeIn" /> 
  </appSettings> 
    <connectionStrings />
    <system.web>
      <compilation debug="true">

      </compilation>

      <authentication mode="Windows" />

      <!-- 
          Define PokeIn as a HTTP Handler. All the calls to PokeIn.ashx will be handled by PokeIn
          The below setting is useful for IIS6.  Look below to see how we define the HTTP Handler for IIS7
     -->
      <httpHandlers>
        <add verb="*" path="host.PokeIn"
          type="PokeIn.Comet.PokeInHandler, PokeIn" />
      </httpHandlers>

    </system.web>

    <!-- 
  Define PokeIn as a HTTP Handler. All the calls to PokeIn.ashx will be handled by PokeIn
  The below setting is useful for IIS7. 
  Check MSDN (http://msdn.microsoft.com/en-us/library/46c5ddfy.aspx) or 
  Mono (http://www.mono-project.com/FAQ:_ASP.NET) to see the proper configurations for the other servers
      
  <system.webServer>
    <handlers> 
      <add name="PokeIn_Handler" verb="*" path="PokeIn.ashx" type="PokeIn.Comet.PokeInHandler, PokeIn" preCondition="integratedMode" />
    </handlers>
  </system.webServer> 
  -->

  </configuration>