<?xml version="1.0"?>
<configuration>

  <appSettings>

    <!-- Logs Internal Issues Into Given Folder -->
    <add key="PokeIn_LogFolder" value="~/App_Data/" />

    <!-- Defines a solid path for the Handler point, otherwise PokeIn tries to find it. This can be a problem
         under the environments that url redirection is active.
         
         On this sample, this setting points to HttpHandler of PokeIn. Look below to see how we define the HTTP Handler
         -->
    <add key="PokeIn_HandlerTarget" value="PokeIn.ashx"/>

    <!-- Please notice that; all the configuration settings under CometSettings class can be overwritten from web.config file
         For example; CometSettings.ResourceOutputCharset can be defined as shown below
    -->
    <add key="PokeIn_ResourceOutputCharset" value="UTF8"/>

  </appSettings>

  <connectionStrings />
  <system.web>
    <compilation debug="true">

    </compilation>

    <authentication mode="Windows" />

    <!-- 
          Define PokeIn as a HTTP Handler. All the calls to PokeIn.ashx will be handled by PokeIn
          The below setting is useful for IIS6.  Look below to see how we define the HTTP Handler for IIS7
     -->
        <httpHandlers>
          <add verb="*" path="PokeIn.ashx"
            type="PokeIn.Comet.PokeInHandler, PokeIn" />
        </httpHandlers> 

  </system.web>

  <!-- 
  Define PokeIn as a HTTP Handler. All the calls to PokeIn.ashx will be handled by PokeIn
  The below setting is useful for IIS7. 
  Check MSDN (http://msdn.microsoft.com/en-us/library/46c5ddfy.aspx) or 
  Mono (http://www.mono-project.com/FAQ:_ASP.NET) to see the proper configurations for the other servers
       
  <system.webServer>
    <handlers>
      <add name="PokeIn_Handler" verb="*" path="PokeIn.ashx" type="PokeIn.Comet.PokeInHandler, PokeIn" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
 -->

</configuration>

